@media print {
    @page {
        size: landscape;
        /*margin-top: 11.16mm;*/
    }
}

img.image-export {
    max-width: 100%;
    height: auto;
}

.header-top {
    padding: 10px 0px;
}

.content-page {
    border: 3px solid rgb(0, 0, 0);
}

.content-page .col-left,
.content-page .col-right {
    padding: 0px;
}

.content-page .col-left {
    border-right: 3px solid rgb(0, 0, 0);
}

.content-page .img-thumb {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.content-page .img-thumb.img-thumb-1 {
    height: 400px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.content-page .img-thumb.img-thumb-2 {
    border-top: 3px solid rgb(0, 0, 0);
    /* height: 200px; */
}

.content-page .img-thumb.img-thumb-3 {
    /* height: 400px; */
}

.content-page .content-top {
    display: block;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 15px 20px;
    height: 110px;
}

.content-page .content-top ul {
    display: block;
    margin: 0px;
}

.content-page .content-top ul li {
    display: block;
    font-size: 10px;
    margin: auto;
}

.product-name {
    margin: auto;
    margin-bottom: 5px;
}
